mixin sInstagram(data)
	// start sInstagram
	+b.SECTION.sInstagram.section#sInstagram&attributes(attributes)
		.container
			+b.section-title.text-center
				+icon('instagram')
				h2 СМОТРИ НАС В INSTAGRAM
				
			+e.wrap(href="https://www.instagram.com/uaateam/" target="_blank")
				+pic('instagram.jpg')
	// end sInstagram