mixin sServiceImplementation(data)
	// start sServiceImplementation
	+b.SECTION.sServiceImplementation.section#sServiceImplementation&attributes(attributes)
		.container
			+b.section-title
				h2 sServiceImplementation
				
			.row
	// end sServiceImplementation