mixin info(e='188',c='0')
	+b.info&attributes(attributes)
		+e.item 
			+icon('eye')
			span= e
		+e.item 
			+icon('comment')
			span= c

mixin sBlogInner(data)
	// start sBlogInner
	+b.SECTION.sBlogInner.section#sBlogInner&attributes(attributes)
			
			+e.articleImg
				+pic('smm.jpg','','')
			
			.row.justify-content-between.mb-4
				.col-auto 
					+share.d-none.d-lg-flex
					+e.autor.d-lg-none
						+e.autorName Viktoriia Blavitska
						+e.autorAdd 21 июня #[span.text-secondary |] 2021
				.col-auto
					+info
			+e.article
				+e.autor.d-none.d-lg-block
					+e.autorName Viktoriia Blavitska
					+e.autorAdd 21 июня #[span.text-secondary |] 2021
				p Сегодня Social Media Marketing является одним из самых действенных инструментов в продвижении каждого бизнеса. Миллионы компаний по всему миру в поисках своего профессионального SMM-менеджера. И если Вы думаете, что SMM-щик это тот, кто просто публикует красивые картинки и ставит хэштеги, то вынуждена Вас разочаровать #[img(alt='' src='img/smile.svg' loading="lazy")] Это специалист, который работает не только с формированием бренда, позиционированием товаров или услуг, но и аналитикой, бюджетом и рекламными инструментами ключевых соцсетей. Поэтому, чтобы стать профессионалом в этом деле стоит обладать такими обязательными навыками.
				.h2 БЫТЬ КРЕАТИВНЫМ
				p Начнем мы с очевидного. Основная работа SMM-менеджера заключается в создании интересного контента для продвижения бренда в социальных сетях. Это написание текстов, создание дизайна, фото и видео. Данный творческий процесс в большинстве является время затратным и сложным. Ведь всегда нужно искать новые, интересные идеи. Для новой порции вдохновения советуем заглянуть на такие сайты:
				p <a href="http://www.pinterest.com">www.pinterest.com </a>— социальная сеть, в которой можно загружать изображения, делиться ими с подписчиков и самим создавать коллекции шрифтов, постеров, макетов сайтов, шаблонов и прочее
				+e.imgWrap(href="img/@2x/pasted-image-0.jpg" data-fancybox="image-1")
					+pic('pasted-image-0.jpg','','')
				p <a href="http://www.behance.net">www.behance.net</a> — сообщество креативных фотографов, дизайнеров и иллюстраторов со всего мира. Их невероятные портфолио обязательно вдохновят каждого на новые и интересные идеи.
				+e.imgWrap(href="img/@2x/pasted-image-0-1.jpg" data-fancybox="image-2")
					+pic('pasted-image-0-1.jpg','','')
				p <a href="http://www.niice.co">www.niice.co</a> — поисковая система, которая поможет найти искусство вдохновения для своих проектов или повседневной жизни. Здесь вы можете искать все что угодно, наслаждаться красивым визуалом и наполняться новыми идеями.
				+e.imgWrap(href="img/@2x/pasted-image-0-2.jpg" data-fancybox="image-3")
					+pic('pasted-image-0-2.jpg','','')
				.h2 ПИСАТЬ УВЛЕКАТЕЛЬНЫЕ ТЕКСТЫ НА ЛЮБЫЕ ТЕМЫ
				p Да, да, мы знаем, что видео-контент является наиболее популярным. Но и тексты не менее важны — даже в TikTok! Текст публикации должен быть удобным для чтения и логично структурированным. Он должен содержать <strong>заголовок, введение, основную часть</strong> и <strong>заключение</strong>. Публикация должна выполнять поставленную цель. Например, продать товар, ознакомить с новой компанией, проинформировать о новых событиях или просто развлечь целевую аудиторию. Для этого следует использовать в тексте призыв к действию. А чтобы публикация была легкая для восприятия, следует использовать различные емоджи.
				p И конечно же, все тексты должны быть грамотно написаны. Поэтому советуем убедиться в правильности написания на сайте <a href="http://www.sentencechecker.com">www.sentencechecker.com</a>
				+e.imgWrap(href="img/@2x/Screenshot_1.jpg" data-fancybox="image-3")
					+pic('Screenshot_1.jpg','','')
				.h2 Всегда быть в курсе событий
				p В мире социальных сетей постоянно продолжаются изменения. Обновляется функционал, появляются новые возможности и даже платформы. Поэтому, чтобы создавать качественный контент и заинтересовывать целевую аудиторию стоит всегда идти в ногу со временем. Для этого SMM-специалист должен постоянно следить за актуальными новостями и трендами. Кстати, если вы еще не знаете, какие тренды актуальны в 2021 году с<a href="http://www.uaateam.agency/blog/smm-trends-of-202">оветуем прочитать нашу статью</a>.
				.h2 Быть исследованиям на «ты»
				p Удивлены? Объясняю #[img(alt='' src='img/smile.svg' loading="lazy")] Перед написанием контента и созданием визуала, SMM-менеджер должен понимать, что думает клиенты о компании, кто ее основные конкуренты, контент они публикуют, какую позицию компания занимает на рынке и др. Для этого, время от времени, следует проводить опросы, анкетирование или, например, интервью.
				p Также существует множество полезных сервисов, которые помогут сделать ваше исследование более глубоким и совершенным.
				p <a href="http://www.semrush.com">www.semrush.com</a> — лучший инструмент для анализа сайтов конкурентов. Здесь можно найти информацию о позиции конкурента на рынке, проанализировать их рекламные кампании или провести сравнительный анализ нескольких конкурентов.
				+e.imgWrap(href="img/@2x/pasted-image-0-3.jpg" data-fancybox="image-4")
					+pic('pasted-image-0-3.jpg','','')
				p <a href="http://www.similarweb.com">www.similarweb.com</a> — сайт, который предлагает своим клиентам информацию и статистику об объемах трафика своих клиентов и конкурентов; источники трафика, включая анализ ключевых слов, время пребывания на сайте, просмотр страниц, показатель отказов и др.
				p <a href="http://www.facebook.com/ads/library/">www.facebook.com/ads/library/</a> — библиотека рекламы в Facebook. Здесь вы можете искать рекламу конкурентов, которая демонстрируется в приложениях и сервисах Facebook. Просто впишите компанию, которая вас интересует, садитесь поудобнее и анализируйте полученные результаты.
				.h2 БЫТЬ НЕМНОГО PR-МЕНЕДЖЕРОМ
				p Наверное нет такого бизнеса, который ни разу не сотрудничал с блогерами и лидерами мнений. И именно закулисье этого сотрудничества ложится на плечи незаменимого SMM-менеджера. Ведь прежде всего, нужно провести анализ блогеров, их целевой аудитории, проанализировать их ценовую политику и понять с кем из них выйдет наиболее плодотворный результат. И кстати, это еще не все. SMM-менеджер должен представить компанию в таком свете, чтобы блогер тоже безотказно захотел с нами работать. Именно здесь, на этом этапе, приходят на помощь навыки и понимание PR.
				.h2 ПОНИМАТЬ ОСНОВЫ РЕКЛАМЫ И ТАРГЕТИНГА
				p Не все компании могут нанять таргетолога, который бы отвечал только за запуск рекламы в социальных сетях. Поэтому довольно часто эти обязанности выполняет SMM-специалист. С помощью таргетированной рекламы можно быстро увеличить количество подписчиков, вывести новый товар на рынок, расширить базу клиентов и повысить продажи. Поэтому, если вы еще не знаете основ рекламы в социальных сетях, советуем быстро исправлять ситуацию с помощью различных курсов и книг.
				.h2 АНАЛИЗИРОВАТЬ РЕЗУЛЬТАТЫ
				p Последний, ​​но не менее важный навык. Стоит уметь оценивать свою работу. Именно это поможет вовремя исправлять ошибки и становиться более профессиональными. Определите контрольные точки, по которым вы сможете изучать достигнутые результаты и отслеживать динамику. Это могут быть брани, комментарии, переходы на сайт, охват публикаций и другое. Рекомендуем проводить еженедельные или ежемесячные анализы и формировать их в удобные для вас отчеты. Это поспособствует лучшему пониманию о том, какой контент, рубрики или визуал работают эффективнее.
				p Итак, работа SMM-менеджера достаточно сложная, но невероятно интересная и многосторонняя. Поэтому, если вы хотите попробовать себя в этой сфере, помните, что постоянное развитие — залог успеха в SMM мире. Открывайте для себя учебные курсы, вдохновляйтесь успешными примерами и изучайте новые инструменты для повышения своего профессионализма. Всегда ловите новые возможности и обязательно наслаждайтесь своим делом #[img(alt='' src='img/smile.svg' loading="lazy")]
				+e.tagWrap
					+e.tag(href="#") #SMM
					+e.tag(href="#") #SEO
			+share
			+form-wrap 
				+e.bgIcon 
					+icon('mail')
				.h3 Подписаться
				.row.justify-content-between
					.col-auto
						+in-c('checkbox','Блог','blog')
						+in-c('checkbox','Vacancy','vacancy')
					.col-auto
						+e.inputWrap 
							+input("Email","email")
							+e.btn.btn.btn-secondary(type="submit") OK







	// end sBlogInner
	