mixin accardionItem(count,headerTxt)
	+e.item
		+e.header--js
			+e.count= count
			+e.title!= headerTxt 
		+e.content--js&attributes(attributes)
			block
			+e.btn.btn.btn-secondary(href="#") Хочу в UAA

mixin sVacancies(data)
	// start sVacancies
	+b.SECTION.sVacancies.section#sVacancies&attributes(attributes)
		.container
			+b.section-title
				h1 ВАКАНСИИ
				+e.decor welcome
				
			+b.accardion
				+accardionItem('01','PPC Trainee/Junior')(style="display: block")
					.row 
						.col-md-6 
							b Требования:
							p Пройденные курсы интернет-маркетига или контекстной рекламы;
							p Понимание принципов работы систем контекстной рекламы;
							p Способность и желание самообучаться;
							p Внимательность и грамотное письмо ;
							p Знание английского языка на уровне Intermediate и выше;
							p Желание развиваться в сфере digital;
						.col-md-6 
							b Будет плюсом:
							p Опыт работы с контекстной рекламой;
							p Понимание принципов работы веб-аналитики;
							p Умение работать с Google Ads Editor, Facebook Power Editor;
							p Наличие сертификатов Google Ads, Google Analytics;

				+accardionItem('02','SMM Менеджер')
					.row 
						.col-md-6 
							b Требования:
							p Уверенные навыки и владение Photoshop и другими редакторами;
							p Опыт работы с Facebook и Instagram;
							p Умение самостоятельно делать фото, снимать и монтировать видео;
							p Знание английского языка на уровне Intermediate и выше;
						.col-md-6 
							b Будет плюсом:
							p Опыт написания контент стратегии или SMM стратегии для брендов.
							p Опыт работы с таргетированной рекламой.
							p Опыт в продвижении аккаунта персоны в социальных сетях.
							p Навыки работы с Adobe After Effect или создание анимаций в любом другом редакторе.
				+accardionItem('03','SEO Trainee/Junior')
					.row 
						.col-md-6 
							b Требования:
							p Оконченные курсы по направлению интернет-маретинг или SEO;
							p Навыки сбора семантического ядра;
							p Опы работы с Google Search Console;
							p Понимание принципа работы поисковых механизмов;
							p Умение работать с сервисами Google Analytics, Яндекс Метрика;
							p Умение работать с биржами ссылок;
							p Отличное знание Excel и Google Spreadsheets;
						.col-md-6 
							b Будет плюсом:
							p Знание английского на уровне intermediate и выше или других иностранных языков;
							p Опыт работы в SEO;
							p Навыки копирайтинга;
							p Опыт продвижения под ПС Google и Яндекс;
				+accardionItem('04','Менеджер по продажам b2b')
					.row 
						.col-md-6 
							b Требования:
							p Опыт работы в продажах, навыки ведения переговоров;
							p Навыки работы с возражениями клиентов;
							p Опыт работы в b2b сегменте;
							p Опыт продажи клиентам дополнительных услуг в течении срока жизни клиента с агентством;
							p Уверенное владение английским устно и письменно;
							p Самоорганизация и высокий уровень ответственности;
						.col-md-6 
							b Будет плюсом:
							p Опыт в поиске клиентов на международных площадках;
							p Опыт участия в тендерах;
							p Наработанная база клиентов;
							p Понимание принципа работы интернет-маркетинга, веб-аналитики, SMM;
				+accardionItem('05','WordPress разработчик')
					.row 
						.col-md-6 
							b Требования:
							p Уверенный опыт работы на WordPress;
							p Опыт написание плагинов, модулей на чистом PHP;
							p Знание HTML5, CSS3, jQuery;
							p Понимание принципов MVC;
							p Опыт работы с Базами данных (предпочтительно MySQL);
							p Уверенные знания и навыки по созданию плагинов и тем, реализации интеграций с внешними API;
							p Опыт с WooCommerce и его расширениями.
						.col-md-6 
							b Будет плюсом:
							p Опыт работы с другими CSM системами (Magento, OpenCart);
							p Уверенный опыт работы с Shopify, Tilda, WIX;
							p Навыки менеджмента небольших команд или опыт менторства;
							p Опыт участия в процессе продаж;
							p Твой уровень английского Intermediate.

	// end sVacancies