mixin sWhyWorkWithUs(data)
	// start sWhyWorkWithUs
	+b.SECTION.sWhyWorkWithUs.section#sWhyWorkWithUs&attributes(attributes)
		.container
			+b.section-title
				h2 sWhyWorkWithUs
				
			.row
	// end sWhyWorkWithUs