// start .headerBlock
.headerBlock {
	margin-bottom: 1px;
	min-height: 100vh;
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	// background-image: url(../img);
	// background-color: #000000;
	position: relative;
	display: flex;
	flex-direction: column;
	--sPT: calc(#{rem(40)});
	@include media-breakpoint-up(lg) {
		--sPT: calc(#{rem(110)});
		
	}

	h1, .h1 {
		margin-bottom: 1px;
		color: #fff;
		font-weight: 700;
	}

	.container {
		position: relative;
	}

	&__linksWrap {
		position: absolute;
		right: rem(30);
		top: 0;
		transform: rotate(-90deg);
		transform-origin: right center;

		&--line {
			align-items: center;
			top: -50px;

			&::after {
				content: '';
				height: 2px;
				width: 40px;
				background-color: #f6d20e;
				margin: 0 5px;
				display: inline-block;
			}

			.headerBlock__link {
				color: #fff;
				&:hover {
					color: $secondary;
				}
				&:not(:last-child) {
					&::after {
						content: '/';
						display: inline-block;
						margin-left: rem(7);
						color: $secondary;
						// margin-right: rem(3);
					}
				}
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $secondary;
		margin: 0 rem(5);

		&:hover {
			color: #fff;
		}
	}

	&__scroll {
		position: relative;
		margin-bottom: rem(40);
		flex-direction: column;
		display: flex;

		img {
			margin-bottom: rem(10);
		}
		&::before, &::after {
			content: '';
			background-image: url(../img/@2x/arrow.png);
			background-position: 50% 50%;
			margin: auto;
			background-repeat: no-repeat;
			width: 1em;
			height: 1em;
			text-transform: uppercase;
			display: block;
			animation-name: animation-opacity;
			animation-duration: 1.4s;
			animation-iteration-count: infinite;
		}


		&::before {
			order: 2;
			animation-delay: .15s;
		}
	}

	&__scrollWrap {
		text-align: center;
		margin-top: auto;
	}


	&__bgWrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;
		z-index: -2;
		video, img {
			width: 100vw;
			height: 100%;
			object-fit: cover;
		}

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: #343c9b;
			opacity: .6;
		}
	}

	&__btnWrap {
		text-align: center;
		padding-top: rem(25);
		@include media-breakpoint-up(md) {
			padding-top: rem(50);
		}
	}

	&__btn {
    min-width: rem(198px);
    min-height: rem(48px);
    font-size: rem(13px);
		display: inline-grid;
		place-items: center;
	}


	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {}

	&--inner {
		overflow: hidden;
		clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 80px), 0% 100%);
		min-height: auto;
		.headerBlock__bgWrap {
			&::before {
			}
			img {
				// margin-top: -200px;
				@include a-cent;
				z-index: -1;
			}
		}
		h1, .h1 {
			@include rfs(55px);
			// font-size: rem(50);
		}
	}

	h3 {
		color: #fff;
	}

	&-nastrojka-kontekstnoj {
		min-height: 100vh;
		display: flex;
		justify-content: center;

		.section-title {
			margin-right: rem(30);
		}
	}
}

// end.headerBlock

@keyframes animation-opacity {
	0% {
		opacity: 0;
}
to {
		opacity: 1;
}
}