mixin sOffer(data)
	// start sOffer
	+b.SECTION.sOffer.section#sOffer&attributes(attributes)
		.container
			+e.inner
				.row.align-items-center
					.col-lg-auto
						+icon('plus')
					.col-lg
						+b.section-title
							h2 ПРЕДЛОЖЕНИЕ МЕСЯЦА
							h3 Бесплатная консультация по SEO
					.col-lg-auto 
						+e.btn.btn.btn-outline-primary(href="#") Заказать

				
			
	// end sOffer