mixin sCases(data)
	// start sCases
	+b.SECTION.sCases.section#sCases
		.container
			+b.section-title
				h2 КЕЙСЫ
				h3 Мы собрали наш лучший опыт во многих отраслях

			//- +e.slider--js.swiper-container
			//- 	.swiper-wrapper
			//- 		mixin slide(i,title,text)
			//- 			+e.slide.swiper-slide

			.row
	// end sCases