mixin sInstruments(data)
	// start sInstruments
	+b.SECTION.sInstruments.section#sInstruments&attributes(attributes)
		.container
			+b.section-title
				h2 sInstruments
				
			.row
	// end sInstruments