mixin sInstruments(data)
	// start sInstruments
	+b.SECTION.sInstruments.section#sInstruments&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 ИНСТРУМЕНТЫ
				
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(i, t)
						+e.slide.swiper-slide
							+e.imgWrap
								+pic(`instruments-${i}.png`,'','')
							+e.txt= t
					+slide(1,'MerchantCenter')
					+slide(2,'Google Analytics')
					+slide(1,'Hotjar')
	// end sInstruments