extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sServises/_sServises.pug
include ../blocks/sTeam/_sTeam.pug
include ../blocks/sCases/_sCases.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/sSoc/_sSoc.pug
include ../blocks/sMap/_sMap.pug
include ../blocks/sitebar/_sitebar.pug
include ../blocks/sBlogInner/_sBlogInner.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Все услуги, заказать услуги по маркетингу | UAATEAM'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+top-nav()
	.container
		.row 
			.col.order-lg-last 
				+sitebar
			.col-lg-7 
				+sBlogInner
	+sForm-blue()
	+footer().bg-primary



