extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sServises/_sServises.pug
include ../blocks/sInstruments/_sInstruments.pug
include ../blocks/sCasesSlidedr/_sCasesSlidedr.pug
include ../blocks/sOffer/_sOffer.pug
include ../blocks/sVacancies/_sVacancies.pug
include ../blocks/sInformation/_sInformation.pug
include ../blocks/sInstagram/_sInstagram.pug
include ../blocks/sResults/_sResults.pug

block variables
	- let  mainPage= null
	- let  bg= null

block title
	- let  title= 'Кейс E-commerce - проект Продвижение магазина мебели в Европе'
	title= title
block pagecontent


	+mob-mnu()
	+header()
		+top-nav()
	+headerBlock-inner({
		img: '1920х1080-4.jpg'
	}).headerBlock-casesInner
		+b.section-title
			h1 ПРОДВИЖЕНИЕ МАГАЗИНА МЕБЕЛИ В ЕВРОПЕ
		h3.ttu МАСШТАБИРОВАНИЕ РЕЗУЛЬТАТОВ И ВЫВОД МАГАЗИНА НА НОВЫЕ РЫНКИ
		+e.tag.text-secondary #case
	+sInformation()
	+sContent()
		h2.lattice #[span.text-secondary #] РЕШЕНИЕ
		p Изначально необходимо было выровнять ROASи тестировать варианты масштабирования без риска
		p На первом этапе прорабатывались варианты максимально быстрого повышения показателя рентабельности инвестиций. С этой целью использовались умные торговые кампании. Для того чтобы оптимизировать смарты, тестировали разные варианты структуры шоппинг-кампаний.<br>Для эффективного масштабирования использовали поисковые кампании по ключевым словам, а также DSA-кампании, по структуре, аналогичной эффективной структуре торговых кампаний.<br>Аналогичные кампании были запущены во всех ГЕО, доступных для размещения товарных объявлений на английском. После получения статистики принималось решение по масштабированию каждой страны<br>С целью повышения заинтересованности использовались промоакции в MerchantCenter<br>Далее проводился анализ и масштабирование уже на основании результатов умных торговых кампаний.
		p На втором этапе после получения статистики смарты еще больше сегментировались и реструктуризировались, уже исходя из статистики чтобы оптимизировать обучение.<br>Для того, чтобы удерживать ROAS, тестировали «умные» стратегии назначения ставок (targetROAS, targetCPAи т.д.). В некоторых случаях создавали пакетные стратегии для оптимизации и в то же время более точного управления.<br>Периодически запускаются комбинации смарт + стандартные торговые кампании.
		p Использование автоматических стратегий и машинного обучения позволяет быстрее получить результат при правильном подходе и управлении. В нашем случае было достаточно трафика и результатов для обучения системы. С одной стороны высокие бюджеты могут усложнить работу с аккаунтом, с другой  — обеспечить достаточную результативность. Тем не менее, даже автостратегии и умные кампании требуют внимания и оптимизации
		p Были получены следующие результаты:
		+e.imgWrap(href="img/@2x/results.jpg" data-fancybox="result")
			+pic('results.jpg','','')
	+sInstruments()
	+sResults()
	+sCasesSlidedr()
	+sForm().background-blue
	+footer().bg-primary



