// start .sInformation
.sInformation {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;

	margin-top: rem(-25);

	&__place {
		position: relative;
		&::before {
			content: ' ';
			position: absolute;
			width: rem(60px);
			height: rem(109px);
			left: rem(-15px);
			top: rem(-55px);
			border: none;
			border-radius: 0;
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			background: url('../img/@2x/place-ic-bg.png') no-repeat 0 0;
			z-index: 100;
			z-index: -1;

			@include media-breakpoint-up(xl) {
				width: rem(96px);
				left: rem(-60px);
			}
		}
	}
	&__placeIcon {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;


		i {
			content: ' ';
			position: absolute;
			left: 14px;
			top: -25px;
			width: 49px;
			height: 62px;
			background: url('../img/sprite.png') -933px -11px no-repeat;
			@include media-breakpoint-up(lg) {
				left: 33px;
				top: -28px;
			}
		}

		&::after {
			content: ' ';
			position: absolute;
			left: 33px;
			top: 45px;
			z-index: 5;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background: #f6d20a;
			@include media-breakpoint-up(lg) {
				top: 40px;
				left: 52px;
			}
		}
	}

	&__placeTxt {
		line-height: 1;
		font-size: rem(28);
		margin-bottom: rem(72);
		@include media-breakpoint-up(lg) {
			font-size: rem(30);
			margin-bottom: rem(90);
		}
		margin-left: rem(80);
	}

	&__folder {
		position: relative;
		overflow: hidden;
		min-height: rem(189px);
		border-radius: rem(12px);
		max-width: rem(417);
		background: $secondary;

		@include media-breakpoint-up(md) {
			min-height: rem(269px);
			margin-bottom: rem(98px);
			padding: rem(58px) rem(26px) rem(17px);
		}

		&::before {
			content: '';
			position: absolute;
			top: -1px;
			right: -1px;
			@include media-breakpoint-up(sm) {
				width: 233px;
				height: 40px;
			}
			background-image: url('../img/@2x/folder-cotn.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
		}
		line-height: 1;
	}

	ul {
		list-style: none;

		li {
			position: relative;
			font-size: rem(13);
			padding-left: rem(19);
			margin-bottom: rem(8);
			@include media-breakpoint-up(sm) {
				font-size: rem(18);
				padding-left: rem(28);
				margin-bottom: rem(20);
			}

			&::before {
				content: ' ';
				position: absolute;
				left: 0;
				top: 9px;
				width: 13px;
				height: 2px;
				background: #ffffff;
				@include media-breakpoint-up(sm) {
					top: 9px;
					width: 18px;
					height: 3px;
				}
			}
		}
	}

	&__folderTitle {
		font-weight: bold;
		font-size: rem(20);
		margin-bottom: rem(11);
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(22);
		}
	}
	&__link {
		display: inline-block;
		font-weight: bold;
		font-size: rem(20);
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
		}
		text-decoration: none;
		color: #000 !important;
		border-bottom: solid 4px $secondary;

		&:hover {
			border-bottom-color: transparent;
		}
	}

	h2, .h2 {
		@include media-breakpoint-up(lg) {
			margin-left: -33px;
		}
	}
	&__block {
		font-size: rem(16px);
		@include media-breakpoint-up(sm) {
			padding: rem(30px);
			border: 4px solid #f4f4f4;
		}
		
		@include media-breakpoint-up(lg) {
			padding: rem(50px) rem(65px) rem(47px);
			font-size: rem(20px);
			max-width: rem(500px);
			margin-bottom: rem(54px);
			margin-left: auto;

		}
		@include media-breakpoint-up(xl) {
			max-width: rem(600);
		}

		h3, .h3 {
			line-height: calc(36 / 20);
			font-weight: normal;
		}
	}

	h3, .h3 {
		font-weight: normal;
		letter-spacing: .2px;
		font-size: rem(20);
		margin-bottom: rem(24);
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
			margin-bottom: rem(37);
		}
	}


	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sInformation