mixin sOffice(data)
	// start sOffice
	+b.SECTION.sOffice.section#sOffice&attributes(attributes)
		.container
			+b.section-title.text-center
				+icon('home')
				h2 НАШ ОФИС

				
			+e.slider--js.swiper-container
				.swiper-wrapper
					mixin slide(i)
						+e.slide.swiper-slide
							+e.wrap(href=`img/@2x/office-${i}.jpg` data-fancybox="photo")
								+pic(`office-${i}.jpg`,'','')
					+slide(1)
					+slide(2)
					+slide(3)
					+slide(4)
					+slide(5)
					+slide(6)
					+slide(7)
					+slide(8)
				.swiper-pagination
	// end sOffice