mixin sWhatWeOffer(data)
	// start sWhatWeOffer
	+b.SECTION.sWhatWeOffer.section#sWhatWeOffer&attributes(attributes)
		+e.left.d-none.d-lg-block 
			+e.leftTxt #uaateam
			
		+e.main
			.container
				+b.section-title.text-center
					h2 ЧТО МЫ ПРЕДЛАГАЕМ
					
				.row
					mixin item(title,txt)
						+e.col.col-xl-6
							+e.title!= title
							p!= txt
					+item('Удобный график работы','У нас нету обычного графика с 10 до 7. Мы сделали его удобным, чтобы ты успевал все. Иногда конечно приходится и задерживаться, но результат того стоит.')
					+item('Интересные проекты','В нашем портфолио как известные локальные проекты и бренды так и множество зарубежных. Скучно тебе точно не будет.')
					+item('Посещение профильных мероприятий','Мы очень любим учиться и развиваться. А конференции и различные профильные мероприятия лучшее место для этого.')
					+item('Профессиональный рост','Ты будешь работать бок о бок с лучшими специалистами в своей сфере. Задачи точно не будут стандартными, а иногда и совсем сложными.')
					+item('Спортзал','Мы считаем, что ты должен развиваться не только в профессиональной сфере, поэтому ты получишь оплачиваемый спортзал и сможешь держать себя в форме.')
					+item('Путешествия','Мы очень любим путешествовать и знаем как спланировать любой трип дешево и круто. С удовольствием делимся нашим опытом и лайфхаками.')
	// end sWhatWeOffer