mixin sCasesSlidedr(btn)
	// start sCasesSlidedr
	+b.SECTION.sCasesSlidedr.section#sCasesSlidedr&attributes(attributes)
		.container
			+b.section-title.text-center 
				+e.case
				h2 ПОСМОТРЕТЬ КЕЙСЫ
			+e.sliderWrap
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin slide(i, t)
							+e.slide.swiper-slide&attributes(attributes)
								+e.wrap(href="#")
									+pic(`cases-${i}.jpg`,'bg','')(class="picture-bg")
									+e.textWrap #[span.text-secondary.d-block #]
										+e.txt=t
						+slide(1,'Торговля женской одеждой')
						+slide(2,'PrivateFloor & MyFaktory')
						+slide(3,'Сеть клиник в Европе')
						+slide(4,'HEX Clothing').visited-link
						+slide(5,'Soft Sell — CRO')
				+arrow
			if btn
				+e.btnWrap 
					a.btn.btn-outline-secondary.sCasesSlidedr__btn(href="#") Обсудить задачу
	// end sCasesSlidedr