mixin sCasesSlidedr(data)
	// start sCasesSlidedr
	+b.SECTION.sCasesSlidedr.section#sCasesSlidedr&attributes(attributes)
		.container
			+b.section-title
				h2 sCasesSlidedr
				
			.row
	// end sCasesSlidedr