mixin sServiceAdvantages(data)
	// start sServiceAdvantages
	+b.SECTION.sServiceAdvantages.section#sServiceAdvantages&attributes(attributes)
		.container
			+b.section-title
				h2 sServiceAdvantages
				
			.row
	// end sServiceAdvantages