mixin sServiceAdvantages(data)
	// start sServiceAdvantages
	+b.SECTION.sServiceAdvantages.section#sServiceAdvantages&attributes(attributes)
		.container
			+b.section-title
				h2 ЧТО ВЫ ПОЛУЧИТЕ, РАБОТАЯ С UAATEAM?
				
			.row
				.col 
					h3 Профессиональный подход
				.col 
					h3 Лучшие решения из&nbsp;нашей практики
			+e.imgWrap
				img.res-i(src="img/svg/service_advantages.svg", alt="" loading="lazy")
			.row 
				.col 
					h3 Результативные кампании
				.col 
					h3 Быстрое решение поставленных задач
			+e.btnWrap
				a.btn.btn-outline-secondary.sServiceAdvantages__btn(href="#") Обсудить проект


	// end sServiceAdvantages